+namespace crpropa
+namespace std
+namespace ""
-namespace kiss
-namespace HepPID
-namespace nanoflann
-namespace zstream
-namespace quimby

+enum crpropa::interpolationType
+enum crpropa::Type
+enum crpropa::TF17DiskModel
+enum crpropa::TF17HaloModel
+enum crpropa::ModelType
+enum crpropa::EPar
+enum crpropa::DetectionState
+enum crpropa::OutputColumn
+enum crpropa::OutputType

+class crpropa::ref_ptr
+class crpropa::Referenced
-class _object
# also ignore Variant for now, it compiles but gives the error when importing in python:
# ImportError: overloading a method with both static and instance methods is not supported; error while attempting to bind static method Variant.getTypeName(t: crpropa.crpropa.Variant.Type) -> str
-class crpropa::Variant

+include_for_class crpropa::Vector3 <extraBindings/Vector3.h>
# ignore complex numbers for now
-class crpropa::Vector3<std::complex<double>>
+binder crpropa::Vector3 crpropa_bindings::Vector3_binder

# need to make it specific for Vector3 otherwise it is defined in multiple files despite header guards...
+include_for_class crpropa::Vector3 <extraBindings/Units.h>
+add_on_binder_for_namespace crpropa crpropa_bindings::binder_for_crpropa_units

+include_for_class crpropa::Referenced <extraBindings/Referenced.h>
+binder crpropa::Referenced crpropa_bindings::Referenced_binder

-function crpropa::addReferenceIf
-function crpropa::removeReferenceIf
# -function crpropa::Candidate::getProperty

# add global scope functions that were not detected
+function setLogLevel

# include CRPropa.h for every source file for compatibility
+include <CRPropa.h>
+include <crpropa/Units.h>

+include <pybind11/stl.h>
+include <pybind11/complex.h>
+include <pybind11/functional.h>
+include <pybind11/chrono.h>
+include <pybind11/numpy.h>
+include <pybind11/pytypes.h>
# +include <pybind11/smart_holder.h>

-include <Python.h>
-include <numpy/arrayobject.h>
-include <quimby/MagneticField.h>
-include <nanoflann/nanoflann.hpp>
-include <muParser.h>
-include <kiss/logger.h>
-include <kiss/string.h>
-include <H5Ipublic.h>
-include <fftw3.h>
-include <bits/ostream.h>

+custom_shared crpropa::ref_ptr
+smart_holder crpropa::ref_ptr